---
http_interactions:
- request:
    method: get
    uri: http://dataworks.thomson.com/Dataworks/Enterprise/1.0/webserviceclient.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://xml.thomson.com/financial/v1/tools/distribution/dataworks/enterprise/2003-07/\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://xml.thomson.com/financial/v1/tools/distribution/dataworks/enterprise/2003-07/\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:documentation
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">Dataworks Enterprise Web Service</wsdl:documentation>\r\n
        \ <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://xml.thomson.com/financial/v1/tools/distribution/dataworks/enterprise/2003-07/\">\r\n
        \     <s:element name=\"Version\">\r\n        <s:complexType />\r\n      </s:element>\r\n
        \     <s:element name=\"VersionResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"VersionResult\" type=\"tns:ArrayOfInt\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:complexType name=\"ArrayOfInt\">\r\n
        \       <s:sequence>\r\n          <s:element minOccurs=\"0\" maxOccurs=\"unbounded\"
        name=\"int\" type=\"s:int\" />\r\n        </s:sequence>\r\n      </s:complexType>\r\n
        \     <s:element name=\"SystemInfo\">\r\n        <s:c[...]
- request:
    method: post
    uri: http://dataworks.thomson.com/Dataworks/Enterprise/1.0/webserviceclient.asmx
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xml.thomson.com/financial/v1/tools/distribution/dataworks/enterprise/2003-07/"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:RequestRecord><tns:User><tns:Username>DS:xcen905</tns:Username><tns:Password>agency</tns:Password></tns:User><tns:Request><tns:Source>Datastream</tns:Source><tns:Instrument>L#H19599~LIST~#xcen905</tns:Instrument></tns:Request><tns:RequestFlags>0</tns:RequestFlags></tns:RequestRecord></env:Body></env:Envelope>
    headers:
      Soapaction:
      - '"http://xml.thomson.com/financial/v1/tools/distribution/dataworks/enterprise/2003-07/RequestRecord"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="utf-8"?><soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><soap:Body><RequestRecordResponse
        xmlns="http://xml.thomson.com/financial/v1/tools/distribution/dataworks/enterprise/2003-07/"><RequestRecordResult><Source>Datastream</Source><Instrument>L#H19599~LIST~#xcen905</Instrument><StatusType>Connected</StatusType><StatusCode>0</StatusCode><StatusMessage
        /><Fields><Field><Name>LINK_1</Name><Value xsi:type="xsd:string">AFDCPI..</Value></Field><Field><Name>NAME_1</Name><Value
        xsi:type="xsd:string">AF CONSUMER PRICES (% CHANGE, AV) NADJ</Value></Field><Field><Name>LINK_2</Name><Value
        xsi:type="xsd:string">AADCPI..</Value></Field><Field><Name>NAME_2</Name><Value
        xsi:type="xsd:string">AA CONSUMER PRICES (% CHANGE, AV)</Value></Field><Field><Name>LINK_3</Name><Value
        xsi:type="xsd:string">AODCPI..</Value></Field><Field><Name>NAME_3</Name><Value
        xsi:type="xsd:string">AO CONSUMER PRICES (% CHANGE PA, AV)</Value></Field><Field><Name>LINK_4</Name><[...]
[...]
